.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
/.quarto/
^data/derived/Reprocessed SWC Sensor Data/$
^figures/Reprocessed SWC Sensor Data/$
data/derived/all-year-flux-results.Rda

**/*.quarto_ipynb
